@import "tailwindcss";

* {
  outline: none !important;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* @layer components {
  .center {
    @apply flex items-center justify-center h-screen;
  }
  .row {
    @apply flex flex-row;
  }
  .coloms {
    @apply flex flex-col;
  }
} */
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalScaleIN {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ModalScaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
.modalOpen {
  animation: modalScaleIN 0.25s ease-out forwards;
}

.modalOut {
  animation: ModalScaleOut 0.2s ease-in forwards;
}

@keyframes jellyFloat {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.08) translate(18px, -12px);
  }
  50% {
    transform: scale(0.95) translate(-12px, 16px);
  }
  75% {
    transform: scale(1.05) translate(10px, -8px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.jelly {
  animation: jellyFloat 14s ease-in-out infinite;
}
