@import "tailwindcss";

* {
  outline: none !important;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

@layer components {
  .center {
    @apply flex items-center justify-center h-screen;
  }
  .row {
    @apply flex flex-row;
  }
  .coloms {
    @apply flex flex-col;
  }
}
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalScaleIN {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.modalOpen {
  animation: modalScaleIN 0.25s ease-out forwards;
}
